$font-family-base:'OpenSans', sans-serif;
/*$navbar-height: 100px !default;

$navbar-margin-bottom:0 !default;
$input-border-radius: 0 !default;

$input-height-base:42px !default;
$font-size-base:16px;

 $line-height-base:1.5;
$modal-md: 500px !default;*/

/*
$nav-link-hover-bg:  transparent !default;
$input-height-base:45px;
$input-color-placeholder:#9c9b9b !default;

$font-size-base:16px;

$brand-primary:#f07626;
$btn-primary-border: transparent;*/
